.Dropdown-header:hover {
  cursor: pointer;
  background: black; }

.Dropdown-list {
  z-index: 2;
  position: absolute;
  list-style-type: none;
  top: 80px;
  left: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.74); }
  .Dropdown-list .Dropdown-data:hover {
    cursor: pointer;
    background: black; }
