.Quiz-data {
	.Question {
		font-size: 2em;
	}
	.Results {
		font-size: 2.5em;

		.ResultTable {			
			table, th, td {
				border: 2px solid black;
			}			
			margin: 0px auto;
		}
	}
	.Answers {
		align-content:space-between;
		display: grid;
		padding: 0px;
		margin: 0px auto;
		grid-template-areas: 
		"a b"
		"c d";
		.Answer0 {
			grid-area: a;
			justify-self: end;
		}
		.Answer1 {
			grid-area: b;
			justify-self: start;
		}
		.Answer2 {
			grid-area: c;
			justify-self: end;
		}
		.Answer3 {
			grid-area: d;
			justify-self: start;
		}
	}
}

.Quiz-score {
	font-size: 1em;
}