.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-quiz {
  font-size: 2em;
}

body, html {
	height: 100%;
	color: black;
	background-image: linear-gradient(rgba(75, 182, 231, 0.664), rgba(23, 114, 156, 0.664));
}
