.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
  font-size: 1.75em;
}

.App-quiz {
  font-size: 2em;
}
.DropdownHeader {
	padding: 0px;
	margin: 0px;
	font-size: 50em;
}

body, html {
	height: 100%;
	color: black;
	background-image: linear-gradient(rgba(75, 182, 231, 0.664), rgba(23, 114, 156, 0.664));
}
