.App {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
  
.App-header {
	margin: 0px auto;
	background-color: #222;
	height: 160px;
	padding: 20px;
	color: white;
	font-size: 1.75em;
	.Dropdown {
		position: relative;
		display: inline-block;
		text-align: left;
		z-index: 1;		
	}
}
  
body, html {
	height: 100%;
	background: linear-gradient(rgba(75, 182, 231, 0.664), rgba(23, 114, 156, 0.664));
	margin: 0px auto;
	padding: 0px;
}
